
.container-fluid{
    background-color: #24f609;  
    height: 100vh;
    background-image: url("../images/sunny.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

 
}
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
  }
  .form {
    width: 450px;
  }
  h1, h2{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;

  }